<footer class="text-light py-4 mt-auto">
  <div class="container text-center">
    <div class="row">
      <!-- Colonne 1 -->
      <div class="col-md-4">
        <h5>Villanelle Website</h5>
        <p>&copy; 2024 - Tous droits réservés.</p>
      </div>

      <!-- Colonne 2 : Liens -->
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a class="nav-link" routerLink="/">Mentions légales</a></li>

        </ul>
      </div>

      <!-- Colonne 3 : Réseaux sociaux -->
      <div class="col-md-4">
        <h5>Suivez-nous</h5>
        <a href="https://facebook.com" target="_blank" class="btn btn-outline-light btn-sm mx-1">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="btn btn-outline-light btn-sm mx-1">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="btn btn-outline-light btn-sm mx-1">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>