// 🎨 Palette de couleurs globale
$primary-color: #51c5c5;
$secondary-color: #386b6b;
$btn-hover: #005f5f;
$text-color: #1ABC9C;
$bg-color: #f8f9fa;
$background-color: #FCF7EC;

//palette 2
$light-black: #333333;
$elegant-red: #C0392B;
$hover-red: #E74C3C;
$border-blue: #2C3E50;
$light-green: #27AE60;
$dark-cream: #D5C4A1;
