<div class="full-page">
  <div class="container text-center">
      <!-- Titre -->
      <h1 class="">CHOEUR MIXTE LA VILLANELLE</h1>
    
      <!-- Image -->
      <div class="row justify-content-center mt-4">
        <div class="col-md-8">
          <img src="images/la-villanelle.jpg" alt="Photo de la chorale" class="img-fluid rounded shadow">
        </div>
      </div>

      <!-- Section Texte -->
      <div class="row justify-content-center mt-3">
          <div class="col-md-8">
            <p>
              The standard Lorem Ipsum passage, used since the 1500s
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </div>
      </div>
      <app-feature-card-list [featureCardList]="featureCardList()" class=""/>
  </div>
</div>